.ig-container {
  position: relative;
  background-color: #000;
  overflow: hidden;
  height: 100%;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;

  * {
    box-sizing: border-box;
  }

  .ig-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
  }
}

.igui_state-fullscreen {
  font-size: 16px;
}