.igui_icon_back:before {
  content: url('./svg/back.svg');
}
.igui_icon_settings {
  content: url('./svg/settings.svg');
}
.igui_icon_pip {
  content: url('./svg/pip.svg');
}
.igui_icon_hd:before {
  content: url('./svg/hd.svg');
}
.igui_icon_cc:before {
  content: url('./svg/cc.svg');
}
.igui_icon_fullscreen-exit {
  content: url('./svg/fullscreen-exit.svg');
}
.igui_icon_fullscreen {
  content: url('./svg/fullscreen.svg');
}
.igui_icon_pause {
  content: url('./svg/pause.svg');
}
.igui_icon_volume-2 {
  content: url('./svg/volume-2.svg');
}
.igui_icon_volume-off {
  content: url('./svg/volume-off.svg');
}
.igui_icon_volume-1 {
  content: url('./svg/volume-1.svg');
}
.igui_icon_play-rounded:before {
  content: url('./svg/play-rounded.svg');
}
.igui_icon_play {
  content: url('./svg/play.svg');
}
.igui_icon_backward {
  content: url('./svg/backward.svg');
}
.igui_icon_forward {
  content: url('./svg/forward.svg');
}