.ig-container {
  position: relative;
  // IMPORTANT do not set #000, Chrome is experiencing a bug in fullscreen mode where controls overlap by player
  background-color: rgb(1, 1, 1);
  overflow: hidden;
  height: 100%;
}

.ig-player {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // IMPORTANT do not set #000, Chrome is experiencing a bug in fullscreen mode where controls overlap by player
  background-color: rgb(1, 1, 1);
}